.projectCard__swiper-pagination,
.projects-residential__swiper-pagination {
  .swiper-pagination-bullet {
    border-radius: 0 !important;
    height: 3px;
    width: 55px;
    margin-right: 5px;
    background: #fff;
    opacity: 1;

    &-active {
      background: #ff5500;
    }
  }
}

.testimonial-commercial__swiper-pagination,
.testimonial-residential__swiper-pagination {
  .swiper-pagination-bullet {
    border-radius: 0 !important;
    height: 3px;
    width: 55px;
    margin-right: 5px;
    background: rgb(215, 215, 215);
    opacity: 1;

    &-active {
      background: #ff5500;
    }
  }
}

.projects__swiper-button-next,
.projects__swiper-button-prev {
  outline: none;
}

.chipped__conainter {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1355px;
  @media screen and (max-width: 768px) {
    margin: 0;
    max-width: 90vw;
  }
  &:after {
    content: '';
    z-index: 0;
    position: absolute;
    right: -21px;
    top: -16px;
    width: 50px;
    height: 40px;
    transform: rotate(45deg);
    background-color: #fff;
  }
}
